
  <div class="root"  @[myEventLeave]="resizerOnUp">

    <div v-show="isResizing" :class="`resizer-layout-${layout}`" :style="resizerStyles" @[myEventUp]="resizerOnUp"></div>
  
      <!-- <div ref="split" :class="`panel-splitter layout-${layout}`" @mousemove="rootMouseMove"> -->
      <div ref="split" :class="`panel-splitter layout-${layout}`" @[myEventMove]="rootMouseMove" @[myEventUp]="resizerOnUp">
        <div class="prev-panel" ref="prevPanel">
          <slot name="prev-panel"></slot>
        </div>
  
        <div :class="[`panel-resizer-layout-${this.layout} ${myMode}`]" @mousedown="onDown">
          <a :class="[`panel-resizer-layout-${layout}-${myMode}`]" @click="actionClick($event)"></a>
        </div>
  
        <div class="next-panel" ref="nextPanel">
          <slot name="next-panel"></slot>
        </div>
      </div>
    </div>