.root {
  --splitter-width: 5px;
  --splitter-action: 5px;
  --splitter-border: rgb(158, 160, 160);
  --splitter-background: rgb(202, 204, 204);
  --splitter-hover: rgb(9, 189, 189);
  --splitter-limit: rgb(247, 112, 112);
  --splitter-line-hover: black;
  
  width: 100%;
  height: 100%;  
}


.panel-splitter { /* Flex Container */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
  height: 100%;  
  min-height: 0;  
}

/*****************************************************/
/*                   layout  General                */
/***************************************************/

.prev-panel, .next-panel {
  height: 100%;
  width: 100%;
}

.deactivate {/* descativation du resizer en mode desactivate*/
  display: none;
}

.panel-splitter > div { /* resizer */
  position: relative;
}

.panel-resizer-layout-vertical > a:hover,
.panel-resizer-layout-horizontal > a:hover {
  transform: scale(2.5);
}

/****************************************************                 layout horizontal               ****************************************************/

.panel-splitter .layout-horizontal { 
  -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

/*****************************************************/
/*                Splitter horizontal               */
/***************************************************/

.panel-resizer-layout-horizontal {
  flex: 0 0 var(--splitter-width);
  background-color: var(--splitter-background);
  border-top: 1px solid  var(--splitter-border);
  border-bottom: 1px solid  var(--splitter-border);
}

.resizer-layout-horizontal { 
  position: absolute;
  z-index: 10;
  width: 100%;
  height: var(--splitter-width);
  border-top: 1px solid var(--splitter-line-hover);
  border-bottom: 1px solid  var(--splitter-line-hover);
}

.panel-resizer-layout-horizontal:before {
  z-index: 12;
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: calc(var(--splitter-action) * 4);
  left: 50%;
  margin-left: calc(var(--splitter-action) * -2);
  background-color: var(--splitter-border);  
  border-left: 1px solid var(--splitter-line-hover); 
  border-right: 1px solid var(--splitter-line-hover);
}

.panel-resizer-layout-horizontal > a {
  z-index: 13;
  position: absolute;
  content: "";
  cursor: pointer;
  left: 50%;
}

.panel-resizer-layout-horizontal-resize {
  z-index: 14;
  margin-left: calc(var(--splitter-action) * -0.5); 
  height: var(--splitter-action);
  width: var(--splitter-action);
  border-radius: 50%;
  background: black;
}

.panel-resizer-layout-horizontal-minimize {
  z-index: 14;
  border-left: var(--splitter-action) solid transparent;
  border-right: var(--splitter-action) solid transparent;
  border-bottom: var(--splitter-action) solid black;
  margin-left: calc(var(--splitter-action) * -1); 
}

.panel-resizer-layout-horizontal-active {
  z-index: 14;
  border-left: var(--splitter-action) solid transparent;
  border-right: var(--splitter-action) solid transparent;
  border-top: var(--splitter-action) solid black;
  margin-left: calc(var(--splitter-action) * -1); 
}

.resizer-layout-horizontal:hover,
.panel-resizer-layout-horizontal:hover {
  width: 100%;
  height: var(--splitter-width);
  border-top: 1px solid var(--splitter-line-hover);
  border-bottom: 1px solid  var(--splitter-line-hover);
  background-color:  var(--splitter-hover);
}

.panel-resizer-layout-horizontal:hover {
  cursor: ns-resize;
}

/****************************************************                 layout vertical               ****************************************************/

.panel-splitter .layout-vertical { 
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/*****************************************************/
/*                 Splitter vertical                */
/***************************************************/

.panel-resizer-layout-vertical { /* plitter resizer vertical*/
  flex: 0 0 var(--splitter-width);
  border-left: 1px solid  var(--splitter-border);
  border-right: 1px solid  var(--splitter-border);
  background-color: var(--splitter-background);
}

.resizer-layout-vertical { 
  position: absolute;
  display: block;
  z-index: 10;
  height: 100%;
  width: var(--splitter-width);
  border-left: 1px solid var(--splitter-line-hover);
  border-right: 1px solid  var(--splitter-line-hover);
}

.panel-resizer-layout-vertical:before {
  position: absolute;
  z-index: 12;
  display: block;
  content: "";
  width: 100%;
  height: calc(var(--splitter-action) * 4);
  top: 50%;
  margin-top: calc(var(--splitter-action) * -2);
  background-color: var(--splitter-border);
  background-color: var(--splitter-border);  
  border-top: 1px solid var(--splitter-line-hover); 
  border-bottom: 1px solid var(--splitter-line-hover);
}

.panel-resizer-layout-vertical > a {
  z-index: 13;
  position: absolute;
  content: "";
  cursor: pointer;
  top: 50%;
}

.panel-resizer-layout-vertical-resize {
  margin-top: calc(var(--splitter-action) * -0.5); 
  z-index: 14;
  height: var(--splitter-action);
  width: var(--splitter-action);
  border-radius: 50%;
  background: black;
}

.panel-resizer-layout-vertical-minimize {
  z-index: 14;
  border-top: var(--splitter-action) solid transparent;
  border-bottom: var(--splitter-action) solid transparent;
  border-right: var(--splitter-action) solid black;
  margin-top: calc(var(--splitter-action) * -1); 
}

.panel-resizer-layout-vertical-active {
  z-index: 14;
  border-top: var(--splitter-action) solid transparent;
  border-bottom: var(--splitter-action) solid transparent;
  border-left: var(--splitter-action) solid black;
  margin-top: calc(var(--splitter-action) * -1); 
}

.resizer-layout-vertical:hover,
.panel-resizer-layout-vertical:hover {
  width: var(--splitter-width);
  height: 100%;
  border-left: 1px solid var(--splitter-line-hover);
  border-right: 1px solid  var(--splitter-line-hover);
  background-color:  var(--splitter-hover);
}

.panel-resizer-layout-vertical:hover {
  cursor: ew-resize;
}

